<!DOCTYPE html>
<html lang="en">
    <head>
        {{>headerLinks}}
    </head>
    <body>
        {{>navbar}}

        <!-- main header -->

        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    <div class="row">
                        <!-- right side div -->
                        <div
                            class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/pngwing.com (3).png" alt="war"
                                    class="img-fluid" title="War">
                            </figure>
                        </div>
                        <!-- left side div -->
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to the weather app</p>
                            <h1>I Am A <span class="text_clr">Mern Stack
                                    Developer</span> YouTuber And A Freelancer</h1>
                            <a href><button>About Me</button></a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- footer -->
            {{>footer}}
        </body>
    </html>